## Aujourd'hui je code - TV Shows

Bienvenue dans le monde du SQL, ensemble nous allons explorer les séries TV!

Comment faire?
- Chaque case représente une requête à écrire (soit une réponse à une question)
- Modifie uniquement la requête, pas ce qu'il y a autour
- Quelques requêtes sont à compléter, les parties manquantes sont signalées par ?? 
- En cas d'erreur, cherche la raison dans le message affiché 
- Pour executer une requête : CTRL + Entrée

## Configuration
Exécute ces commandes (CTRL + X)

Elles permettent de charger les données que nous allons utiliser

In [ ]:
import pandas as p
import sqlite3

#Chargement des données depuis le CSV
tv_shows = p.read_csv('dataset_ajc.csv', delimiter=';', encoding='utf-8')

#Connection à la base de données et Chargement des données
conn = sqlite3.connect("tv_shows.db")
tv_shows.to_sql('tv_shows', conn)

## Prise en main
Quelques requête simples pour prendre les choses en main

#### Question 1 : Affiche tout le contenu de la table tv_shows

In [ ]:
q = """

SELECT 
   *  
FROM tv_shows
    
    """
    
p.read_sql(q, conn)

#### Question 2 : Affiche le nom de toutes les séries et épisodes

In [ ]:
q = """

SELECT 
    titre_serie,
    titre_episode 
FROM tv_shows
    
    """
    
p.read_sql(q, conn)

#### Question 3 : Affiche uniquement le nom des séries différentes et leur résumé

In [ ]:
q = """

select DISTINCT
    titre_serie,
    resume_serie
from tv_shows
    
    """
    
p.read_sql(q, conn)

#### Question 4 : Affiche le nom et le genre des séries commencées en 2018 (première diffusion)

In [ ]:
q = """

SELECT DISTINCT
    titre_serie,
    genres_serie
from TV_Shows
WHERE annee_premiere_diffusion_serie = 2018
    
    """
    
p.read_sql(q, conn)

#### Question 5 : Affiche le nom des séries, le nom des épisodes et la note des épisodes qui durent moins de 40 minutes (<=) et on une note supérieure à 8.5

In [ ]:
q = """

SELECT
    titre_serie,
    titre_episode,
    note
from TV_Shows
WHERE duree <= 40
    and note > 8.5
    
    """
    
p.read_sql(q, conn)

#### Question 6 : Affiche le nom et le genre des séries du genre 'comedy' ('comedie' doit être présent dans la liste des genres) (Utilise DISTINCT pour avoir uniquement les séries)

In [ ]:
q = """

SELECT DISTINCT
    titre_serie,
    genres_serie
from TV_Shows
WHERE genres_serie like '%comedy%'
    
    """
    
p.read_sql(q, conn)

#### Question 7 : Affiche les épisodes (nom de l'épisode, nom de la série, durée et note des épisodes) triés par durée décroissante, ajoute LIMIT 10 pour avoir le top 10

In [ ]:
q = """

SELECT
    titre_serie,
    titre_episode,
    duree,
    note
from TV_Shows
ORDER BY duree DESC
LIMIT 10
    
    """
    
p.read_sql(q, conn)

#### Question 8 : Affiche la somme des durées des épisodes par séries (= le temps total de la série)

In [ ]:
q = """

SELECT
    titre_serie,
    sum(duree)
FROM TV_Shows
group BY titre_serie
    
    """
    
p.read_sql(q, conn)

#### Question 9 : Affiche la note moyenne de chaque série et classe les par ordre décroissant

In [ ]:
q = """

SELECT
    titre_serie,
    avg(note) as n
FROM TV_Shows
group BY titre_serie
ORDER BY n desc
    
    """
    
p.read_sql(q, conn)

## Un petit peu plus difficile

#### Question 10 : Combien de saisons de la série Friends ont été diffusées ?

In [ ]:
q = """

SELECT
    max(numero_saison)
FROM TV_Shows
WHERE titre_serie = 'Friends'
    
    """
    
p.read_sql(q, conn)

#### Question 11 : Quel épisode de la saison 2 de Riverdale a la meilleure note ?

In [ ]:
q = """

SELECT
    numero_episode, 
    note
FROM TV_Shows
WHERE titre_serie = 'Riverdale'
    AND numero_saison = 2
order by note desc
limit 1
    
    """
    
p.read_sql(q, conn)

#### Question 12 : Combien y a t'il de série(s) espagnole(s) ?

In [ ]:
q = """

SELECT
    DISTINCT titre_serie
FROM TV_Shows
WHERE pays = 'es'
    
    """
    
p.read_sql(q, conn)

#### Question 13 : Combien de jours faut-il pour regarder tous les épisodes de Game of Thrones ?

In [ ]:
q = """

SELECT
    sum(duree) as minutes,
    cast(sum(duree) as float)/(60*24) as days
FROM TV_Shows
WHERE titre_serie = 'Game of Thrones'
    
    """
    
p.read_sql(q, conn)

#### Question 14 : Quelle série de genre "fantasy" a une note globale moyenne de 8.00 ?

In [ ]:
q = """

SELECT
    titre_serie,
    avg(note)
FROM TV_Shows
WHERE genres_serie like '%fantasy%'
group by titre_serie

    """
    
p.read_sql(q, conn)

#### Question 15 : Quand a été diffusé l'épisode de The Flash qui a eu la meilleure note ?

In [ ]:
q = """

SELECT
    premiere_diffusion_episode,
    note
FROM TV_Shows
WHERE titre_serie = 'The Flash'
order by note desc
    
    """
    
p.read_sql(q, conn)

#### Question 16 : Quelle série a le plus grand écart de note? (différence entre la note minimale et maximale des épisodes)

In [ ]:
q = """

SELECT
    titre_serie,
    max(note) - min(note) as ecart
FROM TV_Shows
group by titre_serie 
order by ecart desc
   
    """
    
p.read_sql(q, conn)